{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-success">
			<div class="panel-heading  text-center">
				<h1 id="clock" class="mdi-action-schedule"></h1>
				<h1 id="countdown"></h1>
				<p>Keep Calm and Read Rules below.You will be redirected when event starts.</p>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Rules</h2><br />
							<ol>
								<li>You can use Internet for finding answer.</li>
								<li>Correct answer will lead to next Question</li>
								<li>If you stuck 3 lifelines are there. You can use each lifeline only once.</li>
								<li>Skip Lifeline : You can skip question but you will not get points</li>
								<li>Hint/Link Lifeline : You will get Hint/Link that will help you to find answer. 5 points will be reduced from current points. You will get points when you solve current Question.</li>
								<li>Tie Break : Evaluation will be done based on level you have reached. If tie occurs, points will considered. still tie continues then time of last answered question will be considered.</li>
								<li>Event manager decision will be final.</li>
							</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% load static %}
{% block js%}
	{% include 'quiz/countdown.html'%}
{%endblock%}