{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="panel panel-success">
			<div class="panel-heading  text-center">
				<h1 id="clock" class="mdi-action-schedule"></h1>
				<h1 id="countdown"></h1>
				<p>Keep Calm and Read Rules below.You will be redirected when event starts.</p>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
							<h2 class="text-center">Rules</h2><br />
							<ol>
								<li>rule 1</li>
								<li>rule 2</li>
								<li>rule 1</li>
								<li>rule 2</li>
								<li>rule 1</li>
							</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% load static %}
{% block js%}
	{% include 'quiz/countdown.html'%}
{%endblock%}