<nav class="navbar navbar-default">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="#">WebExpadition</a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
			<li><a href="#">Hello {{user.username}}</a></li>
			<li><a href="{% url 'logout' %}">Logout</a></li>
		{% else %}
			<li><a href="{% url 'login' %}">LogIn</a></li>
			<li><a href="{% url 'register' %}">Register</a></li>
		{% endif %}
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>